@import url('https://fonts.cdnfonts.com/css/schwifty');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./assets/wallpaper.webp);
    background-size: cover;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.logo img{
    height: 3rem;
}
.logo span{
    font-family: 'Schwifty', sans-serif;
    font-size: 2rem;
    text-align: justify;
    position: absolute;
    top: 1%;
    text-decoration: none;
}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: 'Schwifty', Ink Free;
    font-size: 2rem;
}
.navbar a{
    text-decoration: none;
    margin-left: 2rem;
}
.navbar th{
    margin-left: 2rem;
}
.icons {
    width: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.icons i{
    font-size: 1.2rem;
    margin: 80%;
}
header a{
    color: #fff;
}
header a:hover{
    color: #a1f54d;
    transition: 0.4s ease-in-out;
}

nav h1{
    font-family: 'Schwifty', sans-serif;
    color:#a1f54d;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding: 2rem;
    font-weight: 300;
    text-transform: uppercase;
}
.main-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
}
.main-content{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 1.2rem;
    row-gap: 1rem;
    padding: 1rem 4rem;
}
.cards{
    width: 14rem;
    height: 24rem;
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    align-items: start;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.5s;
    padding: 0 0 1rem 0;
}
.cards:hover{
    transform: scale(1.05);
}
.character-name-bg{
    width: 100%;
    height: 4rem;
    background-color: rgba(230, 230, 230, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}
.character-name{
    font-family: Ink Free;
    font-weight: bolder;
    color: black;
    font-size: 1.15rem;
    text-transform: uppercase;
}
.modal{
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
}
.modal-content{
    width: 40vw;
    height: 50vh;
    background-color: #0d0d0d;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    row-gap: 1.5rem;
    padding: 2rem 1rem;
    align-items: center;
}
.modal-image{
    width: 15vw;
    height: 30vh;
    border-radius: 0.7rem;
    
}
.modal-span{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.character-details{
    font-family:  Ink Free;
    font-size: 2rem;
    font-weight: lighter;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
}
/* #response{
    color: #56a506;
} */


.buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
    width: 100%;
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 5rem;
    height: 2rem;
    background-color: #000(230, 230, 230, 0.5);
    color: #56a506;
    font-weight: 700;
    border-radius: 0.7rem;
    cursor: pointer;
    border: 1px solid black;
    outline: none;
    transition: ease-in-out 0.3s;
}
button:hover{
    background-color: #a1f54d;
    color: #000;
}
#back-button{
    visibility: hidden;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
section imagem{
    width: 1.5rem;
    height: auto;
}
footer img{
    width: 8%;
}
footer section{
    display: flex;
    flex-direction: column;
}
footer .desenvolvedor{
    color:#fff;
}
/* section .copyrigth{
    width: 4rem;
} */
footer a{
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
}
/* aside .redes{
    display: flex;
    justify-content: space-between;
} */
footer a:hover{
    color: #a1f54d;
    transition: 0.4s ease-in-out;
}